.recipe {
    width: 250px;
    aspect-ratio: 1;
    background-color: #FFDD87;
    transform: rotate(-1.5deg);
}

.image-div {
    position: absolute;
    width: 150px;
    aspect-ratio: 1;
    background: #D9D9D9;
    transform: rotate(-6deg);
    top: -30px;
    right: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.image-div > img {
    width: 100px;
}

.recipe-title {
    font-size: 30px;
    font-weight: bold;
}

.recipe-center {
    text-align: center;
}

.recipe-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.recipe-tags > * {
    font-size: 15px;
}

.recipe-tag {
    background-color: #FFFAE0;
    border-radius: 8px;
    width: 75px;
    text-align: center;
}

.recipe-info {
    font-size: 20px;
}

.rating {
    height: 40px;
}

.prep-time {
    height: 30px;
}

.icons-div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


@media only screen and (max-device-width: 500px) {
    .image-div {
        width: 100px;
        right: -70px;
    }
}


