.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [row] auto [row] auto [row];
}

.grid-container > * {
    font-family: 'Cherry Swash', cursive;
}

@media only screen and (max-device-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-device-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}