.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [row] auto [row] auto [row];
}

.grid-container > * {
    font-family: 'Cherry Swash', cursive;
    font-size: 1.8rem;
}
