.btn-fixed {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    aspect-ratio: 1;
    background-image: url("../../assets/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: #F8003C;
    border: solid 1px black;
}