.bg-color {
    background-color: #F8003C;
}

.app-font {
    font-family: 'Cherry Swash', cursive;
}

.font-black {
    color: black;
}

.modal-size {
    height: 80%;
}

.modal[aria-hidden="false"] {
    z-index: 9999;
}