.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 0, 62, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.no-decoration {
    text-decoration: none;
}

.error-msg {
    color: red;
}

.auth-form {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 60%;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background: #D9D9D9;
    border: 3px solid #000000;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.register-form {
    height: 65%;
    width: 60%;
}

.login-form {
    height: 55%;
    width: 60%;
}

label {
    margin-left: 1rem;
    text-decoration: underline;
    font: normal 700 1.2rem 'Content';
}

.input-control {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    height: 60%;
    text-align: center;
}

span {
    font-size: 1.8rem;
    font-weight: bold;
}

.action-button {
    background: rgba(178, 0, 43, 0.9);
    border: 2px solid #000000;
    border-radius: 10px;
    font: normal 400 1.5rem 'Content';
    color: white;
    text-align: center;
}

.link-btn, .action-button {
    width: 90%;
    height: 12%;
}

.link-btn {
    border: none;
    background: transparent;
    color: black;
}

.link-btn > strong {
    color: #F8003C;
}

@media only screen and (max-device-width: 1000px) {
    .register-form, .login-form {
        width: 70%;
    }

    .action-button {
        font-size: 1.3rem;
    }

    .link-btn {
        width: 100%;
        font-size: 0.8rem;
    }
}

@media only screen and (max-device-width: 600px) {
    .page-content {
        flex-direction: column-reverse;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(248, 0, 60, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    }

    .auth-form {
        height: 75vh;
        width: 100%;
        align-items: flex-start;
    }

    .logo-container {
        width:60%;
        margin-top: 1rem;
    }

    .register-form {
        width: 80%;
        height: 80%;
    }

    .login-form {
        width: 80%;
        height: 70%;
    }

    input {
        height: 70%;
    }
}