.main-header {
    width: 100%;
    height: 13vh;
    background: linear-gradient(270deg, rgba(255, 0, 62, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

a {
    text-decoration: none;
}

.search-bar {
    width: 35%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;
}

.search-bar > input {
    text-align: center;
    width: 90%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background: #D9D9D9;
    border: none;
}

.search-bar > button {
    width: 10%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/find.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
}

.desc {
    width: 55%;
}

.pic {
    width: 20%;
}

a > span {
    font-size: 0;
}

.pages-href {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item > a > img {
    max-width: 90%;
}

.nav-item {
    overflow: hidden;
    -webkit-transition: width 3s ease-out;
    transition: width 3s ease-out;
    white-space: nowrap;
}

.nav-item:hover {
    width: 150px;
}

.nav-item:hover span {
    font-size: 1.3rem;
    font-family: 'Cherry Swash', cursive;
}

.menu-btn {
    margin-right: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    border: none;
    padding: 0;
}

.menu-btn > * {
    width: 1.2em;
    height: 1.2em;
}

@media only screen and (max-device-width: 991px){
    .logo-home {
        margin-left: 1rem;
        justify-content: flex-start;
        width: 15%;
    }

    .pic {
        width: 45%;
    }

    .desc {
        display: none;
    }

    .search-bar {
        width: 50%;
    }

    .search-bar > input {
        width: 85%;
    }

    .search-bar > button {
        width: 15%;
        background-size: 1.8rem;
    }

    .navbar-collapse {
        position: absolute;
        top: 13vh;
        right: 0;
    }

    .navigation {
        background: linear-gradient(359.97deg, #F8003C 0.02%, #CE5270 99.98%);
        width: 200px;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 3rem;
    }

    .nav-link > span {
        font-size: 1.4rem;
        color: black;
    }
}

@media only screen and (max-device-width: 650px) {
    .pic {
        width: 60%;
    }

    .search-bar > input {
        width: 85%;
    }

    .search-bar > button {
        background-size: 1.5rem;
    }
}

@media only screen and (max-device-width: 500px) {
    .pic {
        width: 80%;
    }

    .search-bar > input {
        width: 100%;
        border-radius: 20px;
    }

    .search-bar {
        height: 2.5rem;
        width: 50%;
        border-radius: 20px;
    }

    .search-bar > button {
        display: none;
    }
}



