.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.check-latest {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.check-latest > * {
    margin-top: 40px;
    font-family: 'Cherry Swash', cursive;
}

.grid-container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container > * {
    font-family: 'Cherry Swash', cursive;
}

.link-to-all-div {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-to-all {
    text-decoration: none;
    font-family: 'Cherry Swash', cursive;
    color: black;
    border: solid 1px #F8003C;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    font-size: 25px;
}

.link-to-all:hover {
    background-color: #F8003C;
}

@media only screen and (max-device-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-device-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}