.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.check-latest {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.check-latest > * {
    margin-top: 40px;
    font-family: 'Cherry Swash', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 350px;
    grid-template-rows: 350px;
    align-items: center;
}

.grid-container > * {
    font-family: 'Cherry Swash', cursive;
}

.link-to-all-div {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-to-all {
    text-decoration: none;
    font-family: 'Cherry Swash', cursive;
    color: black;
    border: solid 1px #F8003C;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    font-size: 25px;
}

.link-to-all:hover {
    background-color: #F8003C;
}

@media only screen and (max-device-width: 1220px) {
    .grid-container {
        grid-template-columns: 450px 400px;
        grid-auto-rows: 400px;
    }
}

@media only screen and (max-device-width: 850px) {
    .grid-container {
        grid-template-columns: 400px;
    }
}

@media only screen and (max-device-width: 500px) {
    .check-latest > * {
        margin-top: 20px;
    }

    .link-to-all {
        background-color: #F8003C;
    }

    .grid-container {
        grid-template-columns: 350px;
        grid-template-rows: 350px;
    }
}

@media only screen and (max-device-width: 400px) {
    .check-latest > * {
        font-size: 25px;
    }

    .grid-container {
        grid-template-columns: 320px;
        grid-template-rows: 320px;
    }
}

@media only screen and (max-device-width: 340px) {
    .check-latest > * {
        font-size: 23px;
    }

    .grid-container {
        grid-template-columns: 300px;
        grid-template-rows: 300px;
    }
}